
<div class="row">


	<div class="input-group">
      <input type="text" ng-model="search.query" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button ng-click="search.search(search.query)"  class="btn btn-primary" type="button">Go!</button>
      </span>
    </div>

</div>

<br \>
<div class="row">

	 <ul class="list-group">
		  <li class="list-group-item" ng-repeat="researcher in search.searchResults">

		  	{{researcher._source.name}} : 
		  	<div ng-repeat="tag in researcher._source.tags" class="badge">{{tag}}</div>

		  </li>
	</ul>
</div>

    

