
<div class="row">


	<div class="input-group">
      <input type="text" ng-model="search.query" class="form-control" placeholder="World class expert in neurobiology ...">
      <span class="input-group-btn">
        <button ng-click="search.search(search.query)"  class="btn btn-primary" type="button">Search</button>
      </span>
    </div>

</div>

<br \>
<div class="alert alert-danger" role="alert" ng-show="search.noResults">
  <strong>Sorry!</strong> No results found for your query !	
</div>


<br \>
<div class="row">



	<div class="col-xs-12" ng-repeat="researcher in search.searchResults">

		<h4> <a href="{{researcher._source.link}}" target="_blank">{{researcher._source.name}}</a> </h4>


		<h4> 
			<div ng-repeat="tag in researcher._source.tags track by $index" class="badge badge-primary">
				{{tag}}
			</div>
        </h4>
		
		<hr/>
	</div>


	


</div>



<!--  <div>
 	 <ul class="list-group">
		  <li class="list-group-item" ng-repeat="researcher in search.searchResults">

		  	{{researcher._source.name}} : 
		  	<div ng-repeat="tag in researcher._source.tags" class="badge">{{tag}}</div>

		  </li>
	</ul>
 </div> -->
